{{ include('niubaobao/headerLayui.html') }}
{{ include("niubaobao/nav.html")}}
{{ include("common/header.html")}}

<style>
    .width{width:89%;}
</style>
<link rel="stylesheet" href="../addons/db/resource/css/db.css">


{{ include("common/nav.html")}}

<div class="big-right-icon" style="display: block;">
    <div class="mt" id="mt">
          <span class="fl">
            <i class="big-i4"></i>
          </span>

    </div>
</div>
<div class="big-right" style="display:block;">
    <div class="scroll-wrap">

        <div class="setting" >
            <div class="mt">
                <h3 class="tt">
                    图表列表
                </h3>
            </div>

        </div>
    </div>
</div>
{{ include('niubaobao/footerLayui.html') }}
<script src="../addons/mysql/resource/js/app.js"></script>